<h1><center>Day2 Assignment (Python Advance)<center></h1>

####  File Handling - Extract a zip file and print the contents of the files in the zipped file

In [1]:
# extract zip file and read and print content of all files

from zipfile import ZipFile
file = 'DataFiles.zip'
try:
    zipfile = ZipFile(file,'r')
    
    # get all the filenames in 'filenames'
    filenames = []
    [filenames.append(str(zipfile.filelist[i]).split("'")[1]) for i in range(len(zipfile.filelist))]
    
    # extract all the files in the working directory
    zipfile.extractall()
    
    for i,file in enumerate(filenames):
        with open(file,'r') as file:
            print(filenames[i],end='\n\n')
            print(file.read())
            print('-'*120)

except FileNotFoundError:
    print('Zip file not found!!')

finally:
    pass

HelloWorld.c

#include <iostream>
using namespace std;
int main()
{
cout << "Hello, World!";
return 0;
}
------------------------------------------------------------------------------------------------------------------------
index.html

<html>
<body>

<h2>JavaScript Strings</h2>

<p>Strings can be written with double or single quotes.</p>

<p id="demo"></p>

<script>
document.getElementById("demo").innerHTML = 'John Doe';
</script>

</body>
</html>

------------------------------------------------------------------------------------------------------------------------
PythonZipfile.txt

Python ZIPfile is an ideal way to group similar files and compress large files to reduce their size. The compression is lossless. This means that using the compression algorithm, we can operate on the compressed data to perfectly reconstruct the original data. So, in Python zipfile is an archive file format and a compression standard; it is a single file that holds compressed files.
------------------------------------------------------------------------------------------------------------------------

#### File Handling - take input csv file and print the table sorted by EmployeeID

In [2]:
# Print table employeeID empolyeeName Department employeeDOB sorted by employeeID

# 1st approach (using pandas)
import pandas as pd

try:
    df = pd.read_csv('EmployeeDetails.csv') # read the csv into dataframe
except FileNotFoundError:
    print('File not found!!')

try:
    df.DOB = pd.to_datetime(df.DOB) # convert DOB to datetime object
except TypeError:
    print('The String in DOB is not a date-time') 

display(df.sort_values(by='EmployeeID'))

    
# 2nd approach (no packages)

table = []

try:
    file = open('EmployeeDetails.csv',mode='r',encoding='utf8') # open the file
except FileNotFoundError:
    print('File not found!!')

# read each line, convert into list and put into 2d table
for line in file.readlines():
    table.append(line[:-1].split(',')) # split on ',' assuming csv

header = table.pop(0) # pop the first row and put into headers

table = sorted(table,key=lambda l:l[0], reverse=False) # sort on the basis of EnployeeID
[print(row) for row in table]

   EmployeeID       EmployeeName          DepartmentName        DOB
0         201      Ricardo Barry              Production 1987-10-26
2         212       Viola Cheers              Purchasing 1945-12-03
5         212  Franklyn Charters  Accounting and Finance 1965-05-13
6         228    KathrynRoberti               Purchasing 1963-01-27
8         234    Andra Mcquiggan              Production 1994-05-09
3         265        Ethyl Belle               Marketing 1976-07-07
4         287        Liza Winder                      HR 1987-11-16
7         287       Debbra Byron  Accounting and Finance 1995-11-08
9         293       Jami Frierso                   R & D 1990-07-30
1         298      Eula Kingsley                   R & D 1965-08-09

['201', 'Ricardo Barry', 'Production', '26/10/1987']
['212', 'Viola Cheers', 'Purchasing', '12/03/1945']
['212', 'Franklyn Charters', 'Accounting and Finance', '13/05/1965']
['228', 'KathrynRoberti ', 'Purchasing', '27/01/1963']
['234', 'Andra Mcquiggan', 'Production', '05/09/1994']
['265', 'Ethyl Belle', 'Marketing', '07/07/1976']
['287', 'Liza Winder', 'HR', '16/11/1987']
['287', 'Debbra Byron', 'Accounting and Finance', '11/08/1995']
['293', 'Jami Frierso', 'R & D', '30/07/199']
['298', 'Eula Kingsley', 'R & D', '08/09/1965']

[None, None, None, None, None, None, None, None, None, None]

#### Generate a 16 digit random number

In [3]:
from random import random

def generateRandom(seed = int(random()*100)):
    '''
    Returns a random 16 digit number
    '''
    def rand():
        return random()*100

    x = rand() * seed
    for i in range(int(rand()) * int(rand())):
        x+=rand()
    return id(x) * int(x) % 10**16

In [4]:
generateRandom(seed = 24)

6629675695376248

#### Create student class and create a List of student objects

In [5]:
# Data for Student Class
rollnos = [int(random()*10000) for i in range(10)]
names = ['Minda Brainard',
 'Willy Amburn',
 'Fannie Stoney',
 'Masako Rochford',
 'Lyn Pennypacker',
 'Tobi Dunfee',
 'Claretha Vannatta',
 'Colin Leeman',
 'Madge Moody',
 'Ivan Sugden']

In [6]:
# Student class creation
class Student():
    def __init__(self, rollno, name):
        self.rollno = rollno
        self.name = name
    
    def display(self):
        '''
        Displays the deatils of student - Roll no. and Name
        '''
        print('Roll No:',self.rollno,'and Name:',self.name)

In [7]:
# List of Student objects
student_list = [Student(rollno,name) for rollno,name in list(zip(rollnos, names))]

for student in student_list:
    student.display()

Roll No: 5418 and Name: Minda Brainard
Roll No: 1413 and Name: Willy Amburn
Roll No: 7801 and Name: Fannie Stoney
Roll No: 2038 and Name: Masako Rochford
Roll No: 4998 and Name: Lyn Pennypacker
Roll No: 3765 and Name: Tobi Dunfee
Roll No: 8786 and Name: Claretha Vannatta
Roll No: 8467 and Name: Colin Leeman
Roll No: 7327 and Name: Madge Moody
Roll No: 4180 and Name: Ivan Sugden

#### Extend the Student class to include the marks of the student

In [8]:
#StudentMarks class creation
class StudentMarks(Student):
    def __init__(self,rollno,name,marks):
        Student.__init__(self, rollno,name)
        self.marks = marks
    
    def display(self):
        '''
        Displays the deatils of student - Roll no., Name and Marks
        '''
        print('Roll No:',self.rollno,', Name:',self.name,'and Marks:',self.marks)

In [9]:
marks= [25,23,28,12,29,19,18,23,29,30]

#List of StudentMarks objects
student_marks_list = []
for i,student in enumerate(student_list):
    student_marks_list.append(StudentMarks(student.rollno,student.name,marks[i]))

In [10]:
# display function on all the objects of StudentMarks class 
for student in student_marks_list:
    student.display()

Roll No: 5418 , Name: Minda Brainard and Marks: 25
Roll No: 1413 , Name: Willy Amburn and Marks: 23
Roll No: 7801 , Name: Fannie Stoney and Marks: 28
Roll No: 2038 , Name: Masako Rochford and Marks: 12
Roll No: 4998 , Name: Lyn Pennypacker and Marks: 29
Roll No: 3765 , Name: Tobi Dunfee and Marks: 19
Roll No: 8786 , Name: Claretha Vannatta and Marks: 18
Roll No: 8467 , Name: Colin Leeman and Marks: 23
Roll No: 7327 , Name: Madge Moody and Marks: 29
Roll No: 4180 , Name: Ivan Sugden and Marks: 30