<h1><center>Day3 Assignment (Regression)<center></h1>

### Do a simple linear regression
- take random data
- find initial parameters ($\theta$0 and $\theta$1)
- predict data using initial parameters
- calculate error using these predicted values

In [1]:
# Some random Data
x = [8.71, 8.27, 10.13, 10.56, 9.49, 9.24, 8.28, 12.22, 10.34, 10.74, 13.14, 8.81, 11.61, 13.5, 15.2, 12.54, 14.93, 13.01, 16.2, 14.16]
y = [8.41, 6.35, 10.49, 9.77, 10.47, 8.65, 7.91, 11.34, 10.08, 10.79, 14.39, 11.57, 11.57, 13.93, 12.85, 15.77, 14.26, 15.82, 16.23, 18.43]

In [2]:
def getInitialParameters(x,y):
    '''
    Returns the initial parameters for linear regression
    '''
    x_mean,y_mean = sum(x)/len(x), sum(y)/len(y)
    theta1 = sum([(i-x_mean)*(j-y_mean) for i,j in zip(x,y)]) / sum([(i-x_mean) ** 2 for i in x])
    theta0 = y_mean-(theta1 * x_mean)
    return theta0, theta1

In [3]:
# print initial parameters for linear regression
theta0, theta1 = getInitialParameters(x,y)
print(' Initial theta0 = {}\n Initial theta1 = {}'.format(theta0, theta1))

 Initial theta0 = -0.6699415559029145
 Initial theta1 = 1.0926035620480279

In [4]:
# import pandas
import pandas as pd

# predict y from x using initial parameters and put it in a dataframe
y_pred = [round(theta0 + theta1*i,2) for i in x]
df = pd.DataFrame(zip(x,y,y_pred),columns=['x','y','y_pred'])

In [5]:
# calculate absolute error for each entry and put in dataframe
df['Absolute Error'] = abs(df.y - df.y_pred)
display(df)

        x      y  y_pred  Absolute Error
0    8.71   8.41    8.85            0.44
1    8.27   6.35    8.37            2.02
2   10.13  10.49   10.40            0.09
3   10.56   9.77   10.87            1.10
4    9.49  10.47    9.70            0.77
5    9.24   8.65    9.43            0.78
6    8.28   7.91    8.38            0.47
7   12.22  11.34   12.68            1.34
8   10.34  10.08   10.63            0.55
9   10.74  10.79   11.06            0.27
10  13.14  14.39   13.69            0.70
11   8.81  11.57    8.96            2.61
12  11.61  11.57   12.02            0.45
13  13.50  13.93   14.08            0.15
14  15.20  12.85   15.94            3.09
15  12.54  15.77   13.03            2.74
16  14.93  14.26   15.64            1.38
17  13.01  15.82   13.54            2.28
18  16.20  16.23   17.03            0.80
19  14.16  18.43   14.80            3.63

In [6]:
# plot the (x,y) using scatter and plot the linear regression line using y_pred
import matplotlib.pylab as plt
plt.scatter(x,y)
plt.plot(x,y_pred,color = 'red')

### Calculate Errors

In [7]:
# define functions for error calculations 
from math import sqrt
def MAE(y_pred,y):
    '''
    Returns MAE using the actual and predicted target values
    '''
    return abs(y_pred - y).sum()

def RMAE(y_pred,y):
    '''
    Returns RMAE using the actual and predicted target values
    '''
    return sqrt(abs(y_pred - y).sum())

def MSE(y_pred,y):
    '''
    Returns MSE using the actual and predicted target values
    '''
    return ((y_pred - y)**2).sum()

def RMSE(y_pred,y):
    '''
    Returns RMSE using the actual and predicted target values
    '''
    return sqrt(((y_pred - y)**2).sum())

In [8]:
# print the Error values
print('MAE: ',MAE(y_pred,pd.Series(y)))
print('RMAE:',RMAE(y_pred,pd.Series(y)))
print('MSE :',MSE(y_pred,pd.Series(y)))
print('RMSE:',RMSE(y_pred,pd.Series(y)))

MAE:  25.660000000000004
RMAE: 5.065570056765576
MSE : 54.5878
RMSE: 7.388355703402483