<h1><center>Day4 Assignment-2 (Regression)<center></h1>

Predict insurance ***charges*** from the following dataset.

In [1]:
import pandas as pd

In [2]:
# import data from the csv file

try:
    data=pd.read_csv("insurance.csv")
except FileNotFoundError:
    print('File not found!!')
data.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [3]:
data.isna().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

In [4]:
# check the unique values in non-numeric columns
for column in ['sex','smoker','region']:
    print(column,':',data[column].unique())

sex : ['female' 'male']
smoker : ['yes' 'no']
region : ['southwest' 'southeast' 'northwest' 'northeast']

#### As some of the features are numeric, we need to convert them into numeric representation

In [5]:
# Using LabelEncoder to convert object categorical values to numerical categorical values
from sklearn.preprocessing import LabelEncoder
for column in ['sex','smoker','region']:
    le = LabelEncoder()
    data[column] = le.fit_transform(data[column])

In [6]:
data.head()

   age  sex     bmi  children  smoker  region      charges
0   19    0  27.900         0       1       3  16884.92400
1   18    1  33.770         1       0       2   1725.55230
2   28    1  33.000         3       0       2   4449.46200
3   33    1  22.705         0       0       1  21984.47061
4   32    1  28.880         0       0       1   3866.85520

In [7]:
# check the data-types before feeding it to to the model
data.dtypes

age           int64
sex           int32
bmi         float64
children      int64
smoker        int32
region        int32
charges     float64
dtype: object

#### As all the featues are numeric lets move on to training

In [8]:
# spliting the dataframe into two dataframes for features and target
X = data[data.columns[:-1]]
y = data[data.columns[-1]]

In [9]:
# train the multiple linear regression model on the trainig data
from sklearn.linear_model import LinearRegression
model_lr = LinearRegression()
model_lr.fit(X,y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [10]:
# display the parameters of trained model
print(' Intercept:',model_lr.intercept_,'\n\n','Coeff list:',model_lr.coef_,'\n')

 Intercept: -11815.45232123138

 Coeff list: [  257.28807486  -131.11057962   332.57013224   479.36939355
 23820.43412267  -353.64001656]

In [11]:
# print the RMSE and R2 score of the traiined model on whole training data
from sklearn.metrics import mean_squared_error
y_pred = model_lr.predict(X)
print(' RMSE on entire training set:',mean_squared_error(y_pred,y))
print(' R2 score on entire training set:',model_lr.score(X,y))

 RMSE on entire training set: 36527659.88568238
 R2 score on entire training set: 0.7507372027994937

#### The RMSE value is very large indicating our model is working poorly